# env
.env
.env.local
.env.*.local
.envtmp
.dev.vars*

# node / next
node_modules/
.next/
out/
dist/
*.log
.DS_Store

# next
next-env.d.ts
.vercel
.env.docker
.vinext/
.wrangler/
worker-configuration.d.ts
